@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans+Georgian&display=swap');

:root {
--heading-font: Kaushan Script;
--paragraph-font: Noto Sans Georgian, Helvetica, sans-serif;
}
#content {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
}
.logo {
    display: block;
    width: 80px;
    padding-bottom: 40px;
}

#background {
    height: 725px;
    background-color: #00e0dd;
    margin-top: 60px;
}
body {
    font-family: var(--paragraph-font);
    font-size: 22px;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
header {
    font-family: var(--heading-font);
    text-align: left;
    margin: 0 auto;
    background-color: #c65cff;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    margin-top: 10px;   
}
nav a:hover {
    text-align: left;
    color: #4e00f4;
    background-color: #a600fe;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}
h1 {
    border-radius: 10px;
}
.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    color: black;
}
.button-box {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.book, .join {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: black;
    background-color: #00e0dd;
    text-decoration: none;
    width: 150px; 
    padding: 15px 30px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: white;
    background-color: #4e00f4;
    text-decoration: none;
    width: 150px; 
    padding: 15px 30px;
    border-radius: 5px;
}
main section {
    display: inline;
    max-width: 1600px;
    text-align: center;
}
main section img {
    box-sizing: border-box;
    margin-top: 50px;

}
.home-grid {
    display: block;
}
.card-img {
    display: inline-block;
    width: 500px;
    text-align: center;
    border: 10px solid #00e0dd;
    margin-top: 50px;
}
.rivers-card, .camping-card, .rapids-card {
      margin: 200px 0;
}
.icon {
    display: inline-block;
    width: 80px;    
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
}
.mountains {
    display:block;
    margin-top: 50px;
    margin-bottom: 100px;
}
.msg {
    box-sizing: border-box;
    line-height: 1.5em;
    font-family: var(--heading-font);
    font-size: .8em;
    padding: 25px;
    margin: 30px;
    border-radius: 25px;
    background-color: red;
}
h2 {
    text-align: center;
    margin: 0;
    padding-top: 15px;
}
.msg p {
    padding-bottom: 15px;
}
.msg h2, p, a{
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: #c65cff;
    box-sizing: border-box;
}   
footer {
    background-color: #c65cff;
    padding: 25px 50px;
    margin-top: 200px;
}
h4 {
    text-align: left;
    margin: 0 auto;
    color: #4e00f4;
}
footer h3 {
    text-align: left;
    margin: 0 auto;
    color: #4e00f4;
}
footer a {
    text-align: left;
    margin: 0 auto;
    color: #4e00f4;
    text-decoration: none;
}
footer a:hover {
    text-align: center;
    color: #4e00f4;
}
footer p {
    text-align: left;
    font-size: 1.2em;
    color: #4e00f4;
}
footer p a:hover {
    text-align: left;
    margin: 0 auto;
    text-decoration: underline;
}
.social {
    max-width: 1600px;
    display: block;
    text-align: left;
}
footer .social img {
    padding-top: 15px;
}