
body {
    max-width: 800px;
    text-align: center;
    max-height: 1800px;
}
img {
    display: block;
    width: 100%;
}
.title {
    margin-top: 2em;
    font-size: 40px;
    text-align: center;
    color: navy;
    margin-bottom: 0;
}
.title2 {
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}
.sentence {
    font-size: 60px;
    text-align: center;
    margin: 30px;
}
 .bottom-grid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    align-items: center;
    justify-items: center;
}
h3 {
    color: white;
    background: rgb(58, 97, 159);
    width: 99.8%;
    height: 200px;
    font-size: 80px;
    text-align: center;
    grid-column: 1/2;
}
h4 {
    color: white;
    background: rgb(58, 97, 159);
    width: 99.7%;
    height: 200px;
    font-size: 60px;
    text-align: center;
    grid-column: 2/3;
    align-self: center;
}
h5 {
    color: white;
    background: rgb(58, 97, 159);
    width: 99.7%;
    height: 200px;
    font-size: 30px;
    text-align: center;
    grid-column: 3/4;
    align-self: center;
}